{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}


<h2>{{ title|default:_("Upload Cover") }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="error-message">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div style="margin-bottom: 1rem;">
        {{ form.image.label_tag }}
        {{ form.image }}
        {% if form.image.errors %}
        <div class="error-message" style="color: red;">
            {{ form.image.errors }}
        </div>
        {% endif %}
    </div>

    <div class="form-actions">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn-cancel">{% trans "Cancel" %}</a>
        <button type="submit">{% trans "Upload & Save" %}</button>
    </div>
</form>
{% endblock %}