{% extends 'core/base.html' %}

{% load i18n %}
{% block content %}


<h2>{{ title|default:_("Add Cover from URL") }}</h2>

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="error-message">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div style="margin-bottom: 1rem;">
        {{ form.url.label_tag }}
        {{ form.url }}
        {% if form.url.errors %}
        <div class="error-message" style="color: red;">
            {{ form.url.errors }}
        </div>
        {% endif %}
    </div>

    <div class="form-actions">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn-cancel">{% trans "Cancel" %}</a>
        <button type="submit">{% trans "Download & Save" %}</button>
    </div>
</form>
{% endblock %}