{% extends 'core/base.html' %}

{% block content %}
<div class="header-actions">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">Home</a> / Modelos
    </div>
    <a href="{% url 'woman_create' %}" class="btn-circle-add open-modal" title="Nova Mulher">+</a>
</div>

<h1>Nossas Modelos</h1>

<div class="grid-cards">
    {% for woman in women %}
    <a href="{% url 'woman_detail' woman.pk %}" class="card">
        <h3>{{ woman.name }}</h3>
        <p class="cta-text">
            Ver aparições &rarr;
        </p>
    </a>
    {% empty %}
    <p class="empty-state">Nenhuma modelo encontrada.</p>
    {% endfor %}
</div>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn">Última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}